<div *ngIf="wishes.length === 0; else showItems">
    There are no items in the list
</div>

<ng-template #showItems>
    <ul class="wish-list">
        <li *ngFor="let item of wishes; index as ii">
            <div class="form-check">
                <label class="form-check-label">
                    <input [attr.date-index]="ii" type="checkbox" class="checkbox" [checked]="item.isCompleted"
                        (click)="toggleItem(item)">
                    {{item.wishText}}
                </label>
            </div>
        </li>
    </ul>
</ng-template>